
lesson2/geekshop/geekshop/__pycache__/__init__.cpython-39.pyc

lesson2/geekshop/geekshop/__pycache__/settings.cpython-39.pyc

lesson2/geekshop/geekshop/__pycache__/urls.cpython-39.pyc

lesson2/geekshop/geekshop/__pycache__/views.cpython-39.pyc

lesson2/geekshop/geekshop/__pycache__/wsgi.cpython-39.pyc
